  .main {
    background-color: $color-1;
  }

  // Section
  .section {
    &-inner {
      padding: 40px 30px 50px;
      background-color: $color-2;
    }
    &__alert{
      margin-bottom: 60px;
    }
    &__h2 {
      margin-bottom: 30px;
    }
  }

  // Alert
  .alert {
    padding: 20px 25px;
    background-color: $color-2;
    box-shadow: 0px 8px 25px rgba(155, 99, 248, 0.15);
    border-radius: $border-radius;

    &__img {
      max-width: 40px;
      max-height: 40px;
    }
    &__text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $color-4;
    }
  }

  // Form
  .form {
    &__group {
      margin-bottom: 40px;
    }
  }

  // Input-group
  .input-group {
    display: block;

    &__text {
      margin-bottom: 10px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $color-4;
    }
    &__input {

    }
    &__file {
      max-width: 126px;
    }
    &__file-trigger {
      height: 126px;
      margin: 0;
      background-color: $color-6;
      border: 4px solid $color-5;
      border-radius: $border-radius;
      cursor: pointer;

      &:hover {
        transition: $transition;
        border-color: darken($color-5, $hover-change);
        background-color: darken($color-6, $hover-change);
      }
      &_active {
        border: none;
        cursor: default;
      }
    }
    &__file-trigger-img-wrapper {
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      overflow: hidden;
    }
    &__file-trigger-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__caption {
      padding-top: 10px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: $color-4;
      opacity: 0.7;
    }
  }

  // Remove
  .remove {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    width: 30px;
    height: 30px;
    transform: translate(50%, -50%);
    border-radius: 50%;
    background-color: $color-7;
    cursor: pointer;
    
    &:hover {
      transition: $transition;
      background-color: darken($color-7, $hover-change);
    }
  }

  // Datetime
  .datetime {
    &__element {
      padding: 20px 25px;
      background-color: $color-8;
      border-radius: $border-radius;
    }
  }