$color-1: #F8F8FA;
$color-2: #FFF;
$color-3: #9B63F8;
$color-4: #211536;
$color-5: #CDB1FB;
$color-6: #F8F8FE;
$color-7: #351767;
$color-8: #FAF7FE;
$hover-change: 10;
$active-change: 20;
$transition: 0.2s all;
$col-padding: 10px;
$border-radius: 4px;