.close {
  width: 30px;
  height: 30px;
  background-color: $color-7;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    transition: all $transition-delay;
    background-color: darken($color-7, $hover-magnitude-change);
  }
}