.preview {

  &__row {
    margin: -20px;
  }

  &__col {
    padding: 20px;
  }

  &__inner-row {
    margin: -8px;
  }

  &__inner-col {
    padding: 8px;
  }

  &__preview-rating {
    margin-top: 7.5px;
  }

  &__info-group {
    margin-bottom: 25px;
  }

  &__h3 {
    margin-bottom: 13px;
  }

  &__h1 {
    margin-bottom: 32px;
  }

  &__image {
    border-radius: 4px;

    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.preview-rating {
  width: 48px;
  height: 48px;
  background-color: #351767;
}

.info-list {

  &__row {
    margin: -6.5px;
  }
  
  &__col {
    padding: 6.5px;

    &_icon {
      flex-basis: 32px;
    }
  }

  &__item {
    margin-bottom: 7px;
  }
}